.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 3em;
  will-change: auto;
  transform: translateY(60px);
  opacity: 0;
  transition: all $transition-bezier2 0.5s 0.2s;

  @include large {
    flex-direction: row-reverse;
    justify-content: center;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.2s;
  }
}

.app__image {
  max-width: 80%;
  margin-top: -9em;
}

.app__textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include large {
    padding-right: 7em;
    max-width: 50%;
  }
}

.app__text {
  @extend %pText;

  margin: 2em;

  @include large {
    display: none;
  }
}

.app__text--large {
  display: none;

  @include large {
    display: initial;
  }
}

.app__cta {
  @extend %baseBtn;

  margin: auto;

  @include large {
    margin: initial;
  }
}
