.hero {
  display: flex;
  flex-direction: column;
   /* stylelint-disable */
  @include medium {
    display: grid;
    margin: 0 3em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "hero__helmet"
      "hero__description"
      "hero__cta";
  }

  @include large {
    display: grid;
    margin: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hero__helmet hero__description"
      "hero__helmet hero__cta";
    /* stylelint-enable */
  }
}

.hero__helmet {
  grid-area: hero__helmet;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
  }

  @include medium {
    margin: initial;
  }

  @include large {

  }
}

.hero__loader {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  &.isLoading {
    display: initial;
  }
}

.hero__image {
  display: none;
}

.hero__ctaWrapper {
  grid-area: hero__cta;
  display: flex;

  @include large {
    display: initial;
  }
}

.hero__cta {
  @extend %baseBtn;

  color: $white;
  background-color: $green;
  box-shadow: 0 2px 6px $green-shadow;
  border-color: $green;
  margin: 0.5em auto 3em;
}

.hero__description {
  grid-area: hero__description;
  background-color: $black;
  color: $white;
  padding: 2em 3em;

  @include medium {
    max-width: 70vw;
    background-color: initial;
    color: initial;
    margin: 0 auto;
  }

  @include large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 5em 5em 5em 0;
    max-width: 40vw;
  }
}
