.hero {
  display: flex;
  flex-direction: column;
   /* stylelint-disable */
  @include medium {
    display: grid;
    margin: 0 3em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "hero__helmet"
      "hero__description"
      "hero__cta";
  }

  @include large {
    display: grid;
    margin: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hero__helmet hero__description"
      "hero__helmet hero__cta";
    /* stylelint-enable */
  }
}

.hero__helmet {
  grid-area: hero__helmet;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
  }

  @include medium {
    margin: initial;
  }

  @include large {

  }
}

.hero__loader {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;

  &.isLoading {
    @include flex();
  }
}

.hero__loaderCircle {
  background: $green;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 10px;
}

.hero__loaderCircle--one {
  transform: translateY(10px);
  animation: circle-one ease 0.6s infinite alternate;

  @include keyframes(circle-one) {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }
}

.hero__loaderCircle--two {
  transform: translateY(-5px);
  animation: circle-two ease 0.6s 0.1s infinite alternate;

  @include keyframes(circle-two) {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }
}

.hero__loaderCircle--three {
  transform: translateY(-10px);
  animation: circle-three ease 0.6s 0.2s infinite alternate;

  @include keyframes(circle-three) {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }
}

.hero__image {
  display: none;
}

.hero__ctaWrapper {
  grid-area: hero__cta;
  display: flex;

  @include large {
    display: initial;
  }
}

.hero__cta {
  @extend %baseBtn;

  color: $white;
  background-color: $green;
  box-shadow: 0 2px 6px $green-shadow;
  border-color: $green;
  margin: 0.5em auto 3em;
}

.hero__description {
  grid-area: hero__description;
  background-color: $black;
  color: $white;
  padding: 2em 3em;

  @include medium {
    max-width: 70vw;
    background-color: initial;
    color: initial;
    margin: 0 auto;
  }

  @include large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 5em 5em 5em 0;
    max-width: 40vw;
  }
}
