.lab {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include large {
    flex-direction: row;
  }
}

.lab__bg {
  align-self: flex-end;
  max-width: 100%;
  margin-right: -2em;

  @include large {
    will-change: auto;
    transform: translateY(15%);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.3s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.3s;
  }
}

.lab__image {
  align-self: flex-start;
  max-width: 100%;
  margin-left: -2em;
  margin-top: -40%;

  @include large {
    will-change: auto;
    transform: translateY(-15%);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.3s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.3s;
  }
}

.lab__textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include large {
    max-width: 50%;
    padding: 0 5em;
    will-change: auto;
    transform: translateY(15%);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.3s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.3s;
  }
}

.lab__title {
  display: none;

  @include large {
    display: initial;
  }
}

.lab__text {
  @extend %pText;

  text-align: left;
  margin-top: 2em;

  @include large {
    display: none;
  }
}

.lab__text--large {
  display: none;
  text-align: left;

  @include large {
    display: initial;
  }
}

.lab__cta {
  @extend %baseBtn;

  color: $black;
  margin: 1.5em auto 0;
  text-transform: uppercase;
  box-shadow: 0 2px 6px gray;

  @include large {
    margin: 1.5em 0 0;
  }
}
