.specs {
  background-color: $black;
  padding: 3em 0 13em;
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  min-height: 80vh;
  position: relative;
  z-index: -1;

  @include large {
    > * {
      max-width: 50%;
    }

    align-items: left;
    padding-left: 50%;
    justify-content: center;
    will-change: auto;
    transform: scale(0.8) translateY(30%);
    opacity: 0;
    transition: all $transition-bezier2 0.5s;

    &.scrolled {
      will-change: auto;
      transform: scale(1) translateY(0);
      opacity: 1;
      transition: all $transition-bezier2 0.5s;
    }
  }
}

.specs__title {
  margin-top: 0;
  will-change: auto;
  transform: translateY(60px);
  opacity: 0;
  transition: all $transition-bezier2 0.5s;

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.3s;
  }
}

.specs__image {
  align-self: flex-start;
  max-width: 65%;

  @include large {
    position: absolute;
    left: 0;
    top: 5em;
    will-change: auto;
    transform: translateX(-20%);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.8s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateX(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.8s;
  }
}

.specs__text {
  @extend %pText;

  padding: 0 2em;
  margin-bottom: 3em;

  @include large {
    display: none;
    will-change: auto;
    transform: translateY(60px);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.2s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.2s;
  }
}

.specs__text--large {
  @extend %pText;

  display: none;

  @include large {
    display: initial;
    will-change: auto;
    transform: translateY(60px);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.3s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.3s;
  }
}

.specs__cta {
  @extend %baseBtn;

  @include large {
    margin-top: 1em;
    will-change: auto;
    transform: translateY(60px);
    opacity: 0;
    transition: all $transition-bezier2 0.5s 0.4s;
  }

  &.scrolled {
    will-change: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier2 0.5s 0.4s;
  }
}
