.date {
  font-size: em(144);
  color: $grey;

  @include flex();

  @include medium {
    font-size: em(250);
  }

  @include large {
    font-size: em(600);
  }
}

.date__number {
  transform: translateY(20%);
  opacity: 0.5;
  transition: all $transition-bezier1 0.3s;
}

.timeline--active {
  .date__number {
    transform: translateY(0);
    opacity: 1;
    transition: all $transition-bezier1 0s 0s;

    &:nth-child(2) {
      transition: all $transition-bezier1 0.3s 0.3s;
    }

    &:nth-child(3) {
      transition: all $transition-bezier1 0.3s 0.4s;
    }

    &:nth-child(4) {
      transition: all $transition-bezier1 0.3s 0.5s;
    }
  }
}
