.explain__contentDate {
  font-size: em(18);
  color: $green;
}

.explain__contentTitle {
  font-size: em(18);
  font-weight: $font-bold;
  margin-bottom: em(8);
}

.explain__contentText {
  font-size: em(14);
  line-height: em(28);
  font-weight: $font-regular;
  margin-bottom: em(33);
}

.explain__picture {
  width: 100%;
  height: auto;
  margin-top: em(33);
}

