.timeline {
  width: 100%;
  height: auto;
  padding: 0 em(33);
  margin-top: em(22);

  @include medium {
    padding: 0 em(170);
  }

  @include large {
    height: 100vh;
    padding: 0 em(230);
    margin-top: em(0);

    @include flex();
  }
}
