<svg xmlns="http://www.w3.org/2000/svg" class="logo__icon" viewBox="0 0 45.6 11.9">
  <path d="M19.5.6c-.2-.3-.1-.6.4-.6h15.3c.4 0 .8.1 1.2.3l8.5 5.2c.4.2.4.6 0 .8L38 11.5c-.3.2-.6.3-.9.3h-6.6c-.3 0-.6-.1-.8-.3L26.5 8c-.2-.2-.1-.4.2-.4h6.9c.3 0 .6-.1.9-.3L36.2 6c.2-.2.2-.3 0-.5l-2.1-1.3c-.2-.2-.5-.2-.8-.2h-9.7c-.4.1-.8-.1-1-.4l-3.1-3zm6.1 10.7c.2.3.1.6-.4.6H9.9c-.4 0-.8-.1-1.2-.3L.3 6.4c-.4-.2-.4-.6 0-.8L7.2.4c.2-.3.6-.4.9-.4h6.6c.3 0 .6.1.8.3l3.2 3.5c.2.2.1.4-.2.4h-6.9c-.3 0-.6.1-.9.3L9 5.7c-.2.2-.2.4 0 .5l2.2 1.3c.2.1.5.2.8.2h9.7c.4-.1.8.1 1 .4l2.9 3.2z"/>
</svg>
