div.fonction

  div.fonction__header__image
    img(src=require('../assets/images/header_helmet.png'))
    div.fonction__header__arrow
      a(href='#')
        svg(style='fill:#000000;', x='0px', y='0px', width='38.417px', height='18.592px', viewbox='0 0 38.417 18.592')
          g
            path(d='M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z')

  div.fonction__content
      div.tech
        div.tech__title
          p Tech Specs
          p +
        div.tech__content
          div.tech__descr
            p Model name
            p X1 [cross-one]
          div.tech__descr
            p Safety certified
            p DOT, ECE, JIS
          div.tech__descr
            p Shell material
            p LEXAN Polycarbonate
          div.tech__descr
            p Weight
            p 1,780g
          div.tech__descr
            p Main processor
            p Quad ARM Cortex A53, 1.2GHz
          div.tech__descr
            p Flash storage
            p 8GB
          div.tech__descr
            p Mobile application
            p IOS, Android
          div.tech__descr
            p Bluetooth
            p 4.1, BLE
          div.tech__descr
            p Location service
            p GPS, GLONASS
          div.tech__descr
            p Inputs
            p USB type-C
          div.tech__descr
            p HUD resolution
            p 1280 x 720 2500 ppi
          div.tech__descr
            p Camera angle
            p 170 degree
          div.tech__descr
            p LED safety light
            p White color
          div.tech__descr
            p Operational time
            p 8 - 9 hours
          div.tech__descr
            p Sizing
            p Medium [58-60cm], Large [61-63]
          div.tech__descr
            p Color
            p Iron Silver, Luster Black
          div.tech__descr
            p Visor tint
            p Clear, Tinted
          div.tech__descr
            p Retail price
            p $1,799 ~
          div.tech__descr
            p Estimated delivery
            p A/W 2018

      div.feature
        div.feature__title
          p Features
          p +
        div.feature__content
          div.feature__descr
            h3 Head-up display
            p With an high definition displayed packed into each side of the HUD, you can clearly see the situation behind you.
          div.feature__descr
            h3 Ride data
            p With the CrossHelmet, riders can easily accessrelevant journey information, like weather,temperature, and compass direction. Stats likenetwork connectivity and battery level are also shown, plus step by step waypoints, distance and time to destination.
          div.feature__descr
            h3 360° visibility
            p We believe rear vision is an essential part of increasing rider safety. That’s why the CrossHelmet is equipped with a rear-view camera. The camera is combined with a wide-view visor that allows more road-vision and eliminates blind spots, allowing for optimum, 360° views.
          div.feature__descr
            h3 Cross-sound control
            p CrossSound Control, CrossHelmet’s unique noise control system, is a first for the motorcycle industry. It’s designed to reduce or enhance environmental sounds, depending on the rider’s needs. Riders can limit road, engine, and wind noise in urban environments, sound which are often responsible for rider fatigue.
          div.feature__descr
            h3 Led safety light
            p LEDs, mounted on both sides of the helmet, increase visibility while riding at night.
          div.feature__descr
            h3 Group talk
            p The Group Talk features lets riders start a conversation with other members of their group, sharing locations, routes, photos, and videos. This extends to include memberswithout a CrossHelmet.
          div.feature__descr
            h3 Aerodynamics
            p The unique shape of the helmet and visor, designed to the highest aerodynamic standards, creates better ventilation and wind resistance for a stable and comfortable ride.
