include partials/header.pug

<section class="hero">
  <div class="hero__image">
    <img src="" alt="">
  </div>
  <button class="hero__cta">Purchase now</button>
</section>

include partials/footer.pug

