.fonction

  .fonction__header__image
    img(src=require('../assets/images/header-helmet.png'))
    .fonction__header__arrow
      a(href='#')
        include ../assets/icons/arrow.svg

  .fonction__content
      .tech
        .tech__title
          p(data-i18n='tech_specs') Tech Specs
          p +
        .tech__content
          .tech__descr
            p(data-i18n='model_name_title') Model name
            p(data-i18n='model_name') X1 [cross-one]
          .tech__descr
            p(data-i18n='safety_title') Safety certified
            p(data-i18n='safety') DOT, ECE, JIS
          .tech__descr
            p(data-i18n='material_title') Shell material
            p(data-i18n='material') LEXAN Polycarbonate
          .tech__descr
            p(data-i18n='weight_title') Weight
            p(data-i18n='weight') 1,780g
          .tech__descr
            p(data-i18n='processor_title') Main processor
            p(data-i18n='processor') Quad ARM Cortex A53, 1.2GHz
          .tech__descr
            p(data-i18n='storage_title') Flash storage
            p(data-i18n='storage') 8GB
          .tech__descr
            p(data-i18n='mobile_application_title') Mobile application
            p(data-i18n='mobile_application') IOS, Android
          .tech__descr
            p(data-i18n='bluetooth_title') Bluetooth
            p(data-i18n='bluetooth') 4.1, BLE
          .tech__descr
            p(data-i18n='location_service_title') Location service
            p(data-i18n='location_service') GPS, GLONASS
          .tech__descr
            p(data-i18n='inputs_title') Inputs
            p(data-i18n='inputs') USB type-C
          .tech__descr
            p(data-i18n='resolution_title') HUD resolution
            p(data-i18n='resolution') 1280 x 720 2500 ppi
          .tech__descr
            p(data-i18n='camera_title') Camera angle
            p(data-i18n='camera') 170 degree
          .tech__descr
            p(data-i18n='safety_light_title') LED safety light
            p(data-i18n='safety_light') White color
          .tech__descr
            p(data-i18n='time_title') Operational time
            p(data-i18n='time') 8 - 9 hours
          .tech__descr
            p(data-i18n='sizing_title') Sizing
            p(data-i18n='sizing') Medium [58-60cm], Large [61-63]
          .tech__descr
            p(data-i18n='color_title') Color
            p(data-i18n='color') Iron Silver, Luster Black
          .tech__descr
            p(data-i18n='visor_title') Visor tint
            p(data-i18n='visor') Clear, Tinted
          .tech__descr
            p(data-i18n='price_title') Retail price
            p(data-i18n='price') $1,799 ~
          .tech__descr
            p(data-i18n='delivery_title') Estimated delivery
            p(data-i18n='delivery') A/W 2018

      .feature
        .feature__title
          p(data-i18n='features') Features
          p +
        .feature__content
          .feature__descr
            h3(data-i18n='head_up_display_title') Head-up display
            p(data-i18n='head_up_display') With an high definition displayed packed into each side of the HUD, you can clearly see the situation behind you.
          .feature__descr
            h3(data-i18n='ride_data_title') Ride data
            p(data-i18n='ride_data') With the CrossHelmet, riders can easily accessrelevant journey information, like weather,temperature, and compass direction. Stats likenetwork connectivity and battery level are also shown, plus step by step waypoints, distance and time to destination.
          .feature__descr
            h3(data-i18n='visibility_title') 360° visibility
            p(data-i18n='visibility') We believe rear vision is an essential part of increasing rider safety. That’s why the CrossHelmet is equipped with a rear-view camera. The camera is combined with a wide-view visor that allows more road-vision and eliminates blind spots, allowing for optimum, 360° views.
          .feature__descr
            h3(data-i18n='cross_sound_control_title') Cross-sound control
            p(data-i18n='cross_sound_control') CrossSound Control, CrossHelmet’s unique noise control system, is a first for the motorcycle industry. It’s designed to reduce or enhance environmental sounds, depending on the rider’s needs. Riders can limit road, engine, and wind noise in urban environments, sound which are often responsible for rider fatigue.
          .feature__descr
            h3(data-i18n='led_safety_light_title') Led safety light
            p(data-i18n='led_safety_light') LEDs, mounted on both sides of the helmet, increase visibility while riding at night.
          .feature__descr
            h3(data-i18n='group_talk_title') Group talk
            p(data-i18n='group_talk') The Group Talk features lets riders start a conversation with other members of their group, sharing locations, routes, photos, and videos. This extends to include memberswithout a CrossHelmet.
          .feature__descr
            h3(data-i18n='aerodynamics_title') Aerodynamics
            p(data-i18n='aerodynamics') The unique shape of the helmet and visor, designed to the highest aerodynamic standards, creates better ventilation and wind resistance for a stable and comfortable ride.
