include partials/header.pug
div.story
    div.story__title Our Story
    div.story__content
        div.story__content__border
        div.chrono
            div.chrono__date
                p.chrono__date__text 2013
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text CrossHelmet Idea
        div.chrono
            div.chrono__date
                p.chrono__date__text 2014
            img.chrono_image(src="dist/image/process/design_prototype.png")
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text Milestone #1 : design prototype
include partials/footer.pug