include partials/header.pug
div.story
    div.story__title Our Story
    div.story__content
        div.story__content__border
        div.chrono
            div.chrono__date
                p.chrono_date_text 2013
            div.chrono_event
                div.chrono_event_point
                p.chrono_event_text CrossHelmet Idea
include partials/footer.pug