/* Fonts */
$primary-font: 'Saira Condensed', sans-serif;
$p-size: em(14);

/* Colors */
$white: #fff;
$black: #1a1a1a;
$dark: #333;
$green: #44e1b1;
$grey: #3a3a3a;

/* Shadow colors */
$green-shadow: #2e9073;
