.header {
  background: #202020;
  padding: 1em 1.3em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;

  &.isOpen {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
  }
}

.header__shape {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: 0 solid transparent;
  border-left-width: 200px;
  border-right-width: 0;
  border-top: 108px solid #191919;
}

.header__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;

  @include large {
    width: initial;
  }
}

.logo {
  display: flex;
  color: $white;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  fill: currentColor;
  height: 12px;
  margin-right: 1em;
}

.logo__title {
  display: none;

  @include medium {
    display: initial;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  cursor: pointer;

  @include large {
    display: none;
  }
}

.toggle__stroke {
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background: $white;
  margin: 0.26em;
  transform-origin: top left;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:nth-child(2) {
    transform: scaleX(0.7);
    transform-origin: right;

    *:not(.isOpen) .toggle:hover & {
      transform: scaleX(1);
    }

    .isOpen .toggle &,
    .isOpen .toggle:hover &, {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  .isOpen & {
    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
