footer.footer
  ul.footer__icons
    li.icons__item
      include ../icons/facebook.pug
    li.icons__item
      include ../icons/twitter.pug
    li.icons__item

  .footer__logo
    include ../icons/logo.pug
    span.logo_text Crosshelmet

  .footer__legal
    | 2017 © CrossHelmet All Rights Reserved.

