footer.footer
  ul.footer__icons
    li.icons__item
      include ../../assets/icons/facebook.svg

    li.icons__item
      include ../../assets/icons/twitter.svg
    li.icons__item

  ul.footer_languages
    li.languages__item
      a.languages__link(href="#", i18n-options="en") English
      a.languages__link(href="#", i18n-options="fr") French
      a.languages__link(href="#", i18n-options="jp") Japanese

  .footer__logo
    include ../../assets/icons/logo.svg
    span.logo_text Crosshelmet

  .footer__legal
    | 2017 © CrossHelmet All Rights Reserved.

