<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crosshelmet</title>
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,600" rel="stylesheet">
</head>
<body>
<header class="header">
  <span class="header__shape"></span>
  div.header__wrapper
    <a href="index.html" class="logo">
      include ../icons/logo.pug
      span.logo__title Crosshelmet
    </a>
    <div class="toggle">
      span.toggle__stroke
      span.toggle__stroke
      span.toggle__stroke
    </div>
    <div class="menu">
      <nav class="menu__nav">
        <a href="#" class="nav__link">Live the experience</a>
        <a href="#" class="nav__link">Discover the lab</a>
        <a href="#" class="nav__link">Product Specs</a>
      </nav>
      <div class="menu__ctas">
        <a href="#" class="menu__cta">Purcharse</a>
        <a href="#" class="menu__cta">Get the app</a>
      </div>
    </div>
</header>
