doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='theme-color', content='#202020')
  title Crosshelmet
  link(rel='icon', href=require('../../assets/icons/favicon.ico'), type='image/vnd.microsoft.icon')
  link(href='https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:400,500,700', rel='stylesheet')
header.header
  span.header__shape
  .header__wrapper
    a.logo(href='index.html', data-link='home')
      include ../../assets/icons/logo.svg
      span.logo__title Crosshelmet
    .toggle
      span.toggle__stroke
      span.toggle__stroke
      span.toggle__stroke
  .menu
    nav.menu__nav
      a.nav__link.story-link(href='story.html', data-link='story', data-i18n='story') Discover the lab
      a.nav__link(href='specs.html', data-link='specs', data-i18n='specs') Product Specs
    .menu__ctas
      a.menu__cta(href='https://www.kickstarter.com/projects/491835187/crosshelmet-the-smart-motorcycle-helmet', target='_blank', data-i18n='purchase') Purchase
      a.menu__cta(href='app.html', data-link='app', data-i18n='get_app') Get the app
